.text-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; 
}

.time-display {
  font-size: 40px; 
  margin-bottom: 20px; 
  text-align: center;
}

.text-button {
  background-color: #ffffff; 
  color: rgb(0, 0, 0); 
  border: 2px solid rgb(109, 109, 109); 
  border-radius: 5px; 
  padding: 8px 15px; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  outline: none; 

  margin-top: 60%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-transform: uppercase; 
}

.text-button:hover {
  background-color: #4c4c4c; 
}
